body {
    width: 100vw;
    height: 100vh;
    
    display: grid;
    grid-template-columns: 3fr 1fr ;
    grid-template-rows: 1fr 3fr;
    background-color: cornflowerblue;
    grid-template-areas: "h h"
                        "m a"
                        "f f";
}

header {
    background-color: aqua;
    grid-area: h;
    height: 20vh;
}

ul {
    display: inline-flex;
}

.cabecalho {
    margin-top: 60px;
    padding: 20px;
}

.itens-cabecalho {
    flex-wrap: nowrap;
}


main {
    background-color: blueviolet;
    grid-area: m;
    height: 60vh;
}

aside {
    background-color: chocolate;
    grid-area: a;
}

footer {
    background-color: brown;
    grid-area: f;
    height: 20vh;
}

